<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu side="start" contentId="main-content" type="push" class="my-custom-menu">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Custom Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="true">
            <ion-item routerLink="/tabs/tab1" routerDirection="forward" lines="none">
              <ion-icon name="home" style="padding-right: 10px;"></ion-icon>Menu tab1</ion-item>
            <ion-item routerLink="/tabs/tab2" routerDirection="forward" lines="none">
              <ion-icon name="grid" style="padding-right: 10px;"></ion-icon>Menu tab2</ion-item>
            <ion-item routerLink="/tabs/tab3" routerDirection="forward" lines="none">
              <ion-icon name="location" style="padding-right: 10px;"></ion-icon>Menu tab3</ion-item>
            <ion-item routerLink="/tabs/tab1/camera" routerDirection="forward" lines="none">
              <ion-icon name="camera" style="padding-right: 10px;"></ion-icon>Camera</ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>