<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of Product">
    <ion-slides class="ion-padding">
      <ion-slide>
        <img src="" />
      </ion-slide>
    </ion-slides>
    <div class="ion-padding" style="background-color: transparent;">
      <h1 class="item-name">{{item.productTitle}}</h1>
      <h4 class="price">
        {{item.priceAfterDiscount}} $
      </h4>
    </div>
    <div class="seperator">
      <hr>
    </div>
    <div class="ion-padding description">
      <h5>Description</h5>
      <p>
        {{item.description}}
      </p>
    </div>
  </div>
</ion-content>